@font-face {
    font-family: "Proxima Nova";
    src: url("./ProximaNova-Black.eot");
    src: local("ProximaNova-Black"), 
        url("./ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
        url("./ProximaNova-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./ProximaNova-Bold.eot");
    src: local("ProximaNova-Bold"),  
        url("./ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("./ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./ProximaNova-Extrabold.eot");
    src: local("ProximaNova-Extrabold"),
        url("./ProximaNova-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("./ProximaNova-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./ProximaNova-Regular.eot");
    src: local("ProximaNova-Regular"),
        url("./ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("./ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "Proxima Nova";
    src: url("./ProximaNova-Semibold.eot");
    src: local("ProximaNova-Semibold"),
        url("./ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
        url("./ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

/*
font-family: "Proxima Nova", "Calibry", Tahoma, Arial, sans-serif;
*/
